{% extends "base.html" %}

{% block title %}Pokemon Base Stats | {{ site.name }}{% endblock %}

{% block content %}
<h1>Pokemon Base Stats</h1>
<div class="row">
  <div class="col-4">
    <input id="search" class="form-control" placeholder="Search..."/>
    <br/>
  </div>
  <div class="col-8">
    <button class="btn btn-primary">Submit</button>
  </div>
</div>
<div class="well">
  <div id="pokemon-table" class="table table-condensed"></div>
</div>
{% endblock %}

{% block scripts %}
<script>
  var table = new Tabulator("#pokemon-table", {
    ajaxURL: "{% url 'api-pokemon-list' %}",
    ajaxResponse: function(url, params, response) {
      return response.results;
    },
    layout: "fitColumns",
    height: '85vh',
    pagination: "local",
    paginationSize: 50,
    rowClick: function(e, row){
      window.location = '/pokemon/' + row._row.data.number;
    },
    columns: [
      {title: "Number", field: "number"},
      {title: "Image", field: "image", formatter: "image", formatterParams:{height:"50px"}},
      {title: "Name", field: "name"},
      {title: "Base Att", field: "base_attack"},
      {title: "Base Def", field: "base_defense"},
      {title: "Base HP", field: "base_stamina"},
      {title: "Max CP", field: "max_cp"},
    ]
  });

  $('#search').on('change', function(){
    table.setFilter("name", "like", $(this).val());
  });
</script>
{% endblock %}
