{% extends "wiki/base.html" %}
{% load wiki_tags staticfiles %}

{% block title %}Search Results | Wiki{% endblock %}

{% block body_content %}
{% include "wiki/partials/wiki-search.html" %}
<hr/>
<h3>{% if tag %}{{ page_obj.paginator.count }} Article{{ page_obj.paginator.count|pluralize }} tagged <b>{{ tag.name }}</b>{% elif search %}{{ page_obj.paginator.count }} result{{ page_obj.paginator.count|pluralize }} for <b>{{ search }}</b>{% endif %}</h3>

{% for result in page_obj.object_list %}
{% with result.object|default:result as article %}
{% include "wiki/partials/article-item.html" %}
{% endwith %}
{% empty %}
<p>Try a different search or tag</p>
<img src="{% static 'img/break.gif' %}"/>
{% endfor %}
{% if page_obj.paginator.num_pages > 1 %}
<center>
  <ul class="pagination">
    {% if page_obj.paginator.has_previous %}
    <li><a href="?{% url_replace request 'page' page_obj.previous_page_number %}">&laquo;</a></li>
    {% else %}
    <li class="disabled"><a href="">&laquo;</a></li>
    {% endif %}

    {% for i in page_obj.paginator.page_range %}
    <li {% if page_obj.number == i %} class="active" {% endif %}>
      <a href="?{% url_replace request 'page' i %}">{{ i }}</a>
    </li>
    {% endfor %}

    {% if page_obj.has_next %}
    <li><a href="{% url_replace request 'page' page_obj.next_page_number %}">&raquo;</a></li>
    {% else %}
    <li class="disabled"><a href="#">&raquo;</a></li>
    {% endif %}
  </ul>
</center>
{% endif %}
{% endblock %}
