{% extends "base.html" %}

{% block title %}PvP IV Spread Analysis | {{ site.name }}{% endblock %}

{% block content %}
<h1>Best PvP Pokemon</h1>

<div class="well" style="margin-top:20px;">
  <table class="table table-condensed">
    <thead>
      <tr>
        <th>Name</th>
        <th>Level</th>
        <th>Att IV</th>
        <th>Def IV</th>
        <th>HP IV</th>
        <th>CP</th>
        <th>Stat Product</th>
      </tr>
    </thead>
    <tbody>
      {% for c in rankings %}
      <tr>
        {% for stat in c %}
        <td>{{ stat }}</td>
        {% endfor %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}