{% extends "base.html" %}

{% block title %}PvP IV Spread Analysis | {{ site.name }}{% endblock %}

{% block content %}
<h1>PvP IV Spread Analysis</h1>

<p>Compare your pokemon's IVs to the top 25 IV spreads for PvP.</p>

<form method="get">
  <div class="row">
    <div class="col-md-4 col-sm-6">
      <label>Pokemon</label>
      <input class="form-control" type="text" list="pokemon" name="pokemon" value="{{ pokemon.name }}"/>
      <datalist id="pokemon">
        {% for choice in choices %}
        <option>{{ choice.name }}</option>
        {% endfor %}
      </datalist>
    </div>
    <div class="col-md-4 col-sm-6">
      <label>League</label>
      <select name="max_cp" class="form-control">
        <option value="1500" {% if max_cp == 1500 %}selected{% endif %}>Great League</option>
        <option value="2500" {% if max_cp == 2500 %}selected{% endif %}>Ultra League</option>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2 col-sm-3 col-xs-6">
      <label>Attack IV</label>
      <select name="att_iv" class="form-control">
      {% for x in ivs %}
        <option value="{{ x }}" {% if x == att_iv %}selected{% endif %}>{{ x }}</option>
      {% endfor %}
      </select>
    </div>
    <div class="col-md-2 col-sm-3 col-xs-6">
      <label>Defense IV</label>
      <select name="def_iv" class="form-control">
      {% for x in ivs %}
        <option value="{{ x }}" {% if x == def_iv %}selected{% endif %}>{{ x }}</option>
      {% endfor %}
      </select>
    </div>
    <div class="col-md-2 col-sm-3 col-xs-6">
      <label>HP IV</label>
      <select name="sta_iv" class="form-control">
      {% for x in ivs %}
        <option value="{{ x }}" {% if x == sta_iv %}selected{% endif %}>{{ x }}</option>
      {% endfor %}
      </select>
    </div>
    <div class="col-md-2 col-sm-3 col-xs-6">
      <input type="submit" value="View Stats" class="btn btn-primary" style="margin-top:38px;"/>
    </div>
  </div>
</form>
<div class="well" style="margin-top:20px;">
  <table class="table table-condensed table-striped">
    <thead>
      <tr>
        <th>Rank</th>
        <th>Level</th>
        <th>IVs (A/D/S)</th>
        <th>CP</th>
        <th class="hidden-sm">Att</th>
        <th class="hidden-sm">Def</th>
        <th class="hidden-sm">Sta</th>
        <th class="hidden-xs">Stat Product</th>
        <th>% Max Stat</th>
      </tr>
    </thead>
    <tbody>
      <tr class="table-{% if rank <= 512 %}success{% elif rank <= 1024 %}warning{% else %}danger{% endif %}">
        <td><b>{{ rank }}</b></td>
        <td>{{my_combo.0}}</td>
        <td>{{my_combo.1}} / {{my_combo.2}} / {{my_combo.3}}</td>
        <td>{{my_combo.7}}</td>
        <td class="hidden-sm">{{my_combo.4|floatformat:2}}</td>
        <td class="hidden-sm">{{my_combo.5|floatformat:2}}</td>
        <td class="hidden-sm">{{my_combo.6}}</td>
        <td class="hidden-xs">{{my_combo.8}}</td>
        <td>{{my_combo.9|floatformat:2}}%</td>
      </tr>
      {% for c in combos %}
      <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{c.0}}</td>
        <td>{{c.1}} / {{c.2}} / {{c.3}}</td>
        <td>{{c.7}}</td>
        <td class="hidden-sm">{{c.4|floatformat:2}}</td>
        <td class="hidden-sm">{{c.5|floatformat:2}}</td>
        <td class="hidden-sm">{{c.6}}</td>
        <td class="hidden-xs">{{c.8}}</td>
        <td>{{c.9|floatformat:2}}%</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}