{% extends "base.html" %}

{% load humanize staticfiles %}

{% block title %}{{ object.name }}{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-4">
    <div class="well text-center">
      <h2>{{ object.name }}</h2>
      <hr/>
      <p><i>Last updated: {{ object.updated_at | date }}</i></p>
      <h4>Level {{ object.level }} <img src="{% static object.team_image %}" height="40"/></h4>
      <h5>{{ object.xp | intcomma }} XP</h5>
      <h6>{{ object.pokedex_number | intcomma }} Dex Entries</h6>
      <hr/>
      <div class="row">
        <div class="col-4">
          <img src="{% static 'img/badge/pokemon_caught.png' %}" height="40"/>
          <p>{{ object.pokemon_caught | intcomma }}</p>
        </div>
        <div class="col-4">
          <img src="{% static 'img/badge/eggs_hatched.png' %}" height="40"/>
          <p>{{ object.eggs_hatched | intcomma }}</p>
        </div>
        <div class="col-4">
          <img src="{% static 'img/badge/kilometers_walked.png' %}" height="40"/>
          <p>{{ object.kilometers_walked | intcomma }}</p>
        </div>
        <div class="col-4">
          <img src="{% static 'img/badge/pokestops_spun.png' %}" height="40"/>
          <p>{{ object.pokestops_spun | intcomma }}</p>
        </div>
        <div class="col-4">
          <img src="{% static 'img/badge/research_tasks.png' %}" height="40"/>
          <p>{{ object.research_tasks | intcomma }}</p>
        </div>
        <div class="col-4">
          <img src="{% static 'img/badge/ace_trainer.png' %}" height="40"/>
          <p>{{ object.ace_trainer | intcomma }}</p>
        </div>
        <div class="col-4">
          <img src="{% static 'img/badge/battles_won.png' %}" height="40"/>
          <p>{{ object.battles_won | intcomma }}</p>
        </div>
        <div class="col-4">
          <img src="{% static 'img/badge/hours_defended.png' %}" height="40"/>
          <p>{{ object.hours_defended | intcomma }}</p>
        </div>
        <div class="col-4">
          <img src="{% static 'img/badge/berries_fed.png' %}" height="40"/>
          <p>{{ object.berries_fed | intcomma }}</p>
        </div>
        <div class="col-4">
          <img src="{% static 'img/badge/great_veteran.png' %}" height="40"/>
          <p>{{ object.great_veteran | intcomma }}</p>
        </div>
        <div class="col-4">
          <img src="{% static 'img/badge/ultra_veteran.png' %}" height="40"/>
          <p>{{ object.ultra_veteran | intcomma }}</p>
        </div>
        <div class="col-4">
          <img src="{% static 'img/badge/master_veteran.png' %}" height="40"/>
          <p>{{ object.master_veteran | intcomma }}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <div class="well">
      <h3>{{ object.name }}'s Trophy Case</h3>
      <hr/>
      <p>None Found :(</p>
    </div>
  </div>
</div>
{% endblock %}