{% extends "base.html" %}

{% block title %}Trainers | Lincoln Pokemon Go{% endblock %}

{% load humanize staticfiles trainer_tags %}

{% block content %}
<div class="row">
  <div class="col-sm-8">
    <h1>Trainer Leaderboard</h1>
  </div>
  <div class="col-sm-4">
    <label for="ordering">Order By</label>
    <select class="form-control" id="ordering" name="ordering">
    {% for order, description in orderings %}
      <option value="{{ order }}" data-href="?{% url_replace request 'ordering' order %}" {% if request.GET.ordering and request.GET.ordering == order %}selected="selected"{% endif %}>{{ description }}</option>
    {% endfor %}
    </select>
  </div>
</div>
<br/>
<div class="well">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Team</th>
        <th>Trainer</th>
        <th>XP</th>
        <th><img src="{% static 'img/badge/collector.png' %}" height="40"/></th>
        <th><img src="{% static 'img/badge/breeder.png' %}" height="40"/></th>
        <th><img src="{% static 'img/badge/jogger.png' %}" height="40"/></th>
        <th><img src="{% static 'img/badge/great_veteran.png' %}" height="40"/></th>
        <th><img src="{% static 'img/badge/ultra_veteran.png' %}" height="40"/></th>
        <th><img src="{% static 'img/badge/master_veteran.png' %}" height="40"/></th>
      </tr>
    </thead>
    <tbody>
      {% for trainer in object_list %}
      <tr>
        <td style="padding:10px 20px;"><img src="{% static trainer.team_image %}" height="30"/></td>
        <td><a href="{{ trainer.url }}">{{ trainer.name }}</a></td>
        <td>{{ trainer.xp }}</td>
        <td>{{ trainer.collector  }}</td>
        <td>{{ trainer.breeder }}</td>
        <td>{{ trainer.jogger }}</td>
        <td>{{ trainer.great_veteran }}</td>
        <td>{{ trainer.ultra_veteran }}</td>
        <td>{{ trainer.master_veteran }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<nav aria-label="Page navigation">
  <ul class="pagination justify-content-center">
    {% if page_obj.has_previous %}
    <li class="page-item"><a class="page-link" href="?{% url_replace request 'page' page_obj.previous_page_number %}">Previous</a></li>
    {% else %}
    <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
    {% endif %}
    {% for i in page_obj.paginator.page_range %}
    <li class="page-item"><a class="page-link" href="?{% url_replace request 'page' i %}">{{ i }}</a></li>
    {% endfor %}
    {% if page_obj.has_next %}
    <li class="page-item"><a class="page-link" href="?{% url_replace request 'page' page_obj.next_page_number %}">Next</a></li>
    {% else %}
    <li class="page-item disabled"><a class="page-link" href="#">Next</a></li>
    {% endif %}
  </ul>
</nav>
{% endblock %}

{% block scripts %}
<script>
$('#ordering').change(function(){
  window.location = $(this).find(":selected").data('href');
});
</script>
{% endblock %}
