 
@import "../bower_components/bootstrap/scss/_functions";
@import "../bower_components/bootstrap/scss/_variables";

@import "variables";

@import "../bower_components/bootstrap/scss/_mixins";
@import "../bower_components/bootstrap/scss/_root";
@import "../bower_components/bootstrap/scss/_reboot";
@import "../bower_components/bootstrap/scss/_type";
@import "../bower_components/bootstrap/scss/_images";
@import "../bower_components/bootstrap/scss/_code";
@import "../bower_components/bootstrap/scss/_grid";
@import "../bower_components/bootstrap/scss/_tables";
@import "../bower_components/bootstrap/scss/_forms";
@import "../bower_components/bootstrap/scss/_buttons";
@import "../bower_components/bootstrap/scss/_transitions";
@import "../bower_components/bootstrap/scss/_dropdown";
@import "../bower_components/bootstrap/scss/_button-group";
@import "../bower_components/bootstrap/scss/_input-group";
@import "../bower_components/bootstrap/scss/_custom-forms";
@import "../bower_components/bootstrap/scss/_nav";
@import "../bower_components/bootstrap/scss/_navbar";
@import "../bower_components/bootstrap/scss/_card";
@import "../bower_components/bootstrap/scss/_breadcrumb";
@import "../bower_components/bootstrap/scss/_pagination";
@import "../bower_components/bootstrap/scss/_badge";
@import "../bower_components/bootstrap/scss/_jumbotron";
@import "../bower_components/bootstrap/scss/_alert";
@import "../bower_components/bootstrap/scss/_progress";
@import "../bower_components/bootstrap/scss/_media";
@import "../bower_components/bootstrap/scss/_list-group";
@import "../bower_components/bootstrap/scss/_close";
@import "../bower_components/bootstrap/scss/_toasts";
@import "../bower_components/bootstrap/scss/_modal";
@import "../bower_components/bootstrap/scss/_tooltip";
@import "../bower_components/bootstrap/scss/_popover";
@import "../bower_components/bootstrap/scss/_carousel";
@import "../bower_components/bootstrap/scss/_spinners";
@import "../bower_components/bootstrap/scss/_utilities";
@import "../bower_components/bootstrap/scss/_print";
 
.ml-auto .dropdown-menu {
  left: auto !important;
  right: 0px;
}

body, html {
  background-color: $gray-100;
}

html, body {
  height: 100%;
  margin: 0;
}
.page {
  min-height: 100%;
}

.page-content {
  padding-bottom: 115px;
}

.footer {
  height: 115px;
  margin-top: -115px;
  background-color: $gray-900;
  color: $gray-400;
  padding: 20px 0;
  .copyright {
    float: right;
    color: $gray-600;
  }
}


.table th {
  border-top: none;
}

.table-condensed {
  th, td {
    padding: 0.25rem;
  }
}

label {
  margin-top: 10px;
  margin-bottom: 5px;
}

.well {
  //background-color: $white;
  border-radius: 5px;
  border: none;
  box-shadow: 0 0 5px $gray-400;
  padding: 20px;
  margin-bottom: 30px;
  h5 {
    font-size: 1.4em;
  }
}

.alert {
  margin-top: 20px;
  p {
    margin-bottom: 0;
  }
}

p.error {
  color: $danger;
  margin-bottom: 0;
  font-size: 12px;
  + input {
    border-color: lighten($danger, 20%);
  }
}

.progress {
  height: 1.5rem;
  font-size: 1rem;
}

.col-badge {
  max-width: 75px;
  padding-left: 10px;
  padding-right: 10px;
}

.container-fluid {
  padding-left: 40px;
  padding-right: 40px;
}

img {
  max-width: 100%;
}

@media(max-width: 1024px) {
  .hidden-sm {
    display: none;
  }
}
@media(max-width: 768px) {
  .hidden-xs {
    display: none;
  }
}

p.light {
  font-size: 14px;
  margin-bottom: 0.5rem;
  color: $gray-600;
}

.badge {
  font-size: 14px;
  font-weight: bold;
  color: #eee;
  background-color: $cyan;
  padding: 3px 0 3px 7px;
  margin-bottom: 2px;
  margin-right: 4px;
  border-radius: 14px;
  a {
    color: #eee;
  }
  a:hover {
    color: #fff;
    text-decoration: none;
  }
  a:active {
    text-decoration: none
  }
  &:hover {
    background-color: darken($cyan, 10%);
  }
  .badge-count {
    color: #888;
    background-color: #eee;
    border-radius: 10px;
    padding: 0 5px;
    margin: 2px;
  }
  &.bug {background-color: #a9b821;}
  &.dark {background-color: #6e5747;}
  &.dragon {background-color: #6f39f7;}
  &.electric {background-color: #f7d301;color:#555;a{color:#555;}}
  &.fairy {background-color: #ff66d4;}
  &.fighting {background-color: #bf3028;}
  &.fire {background-color: #f08030;}
  &.flying {background-color: #a890f0;}
  &.ghost {background-color: #6e5796;}
  &.grass {background-color: #77c750;}
  &.ground {background-color: #debe68;}
  &.ice {background-color: #98d6d6;color:#555;a{color:#555;}}
  &.normal {background-color: #a6a677;}
  &.poison {background-color: #9e3f9e;}
  &.psychic {background-color: #f75989;}
  &.rock {background-color: #b89e39;}
  &.steel {background-color: #b8b8cf;}
  &.water {background-color: #6992f0;}
}

.type-image {
  max-width: 40px;
  max-height: 40px;
  padding: 5px;
}

.visible-xs {
  display: none;
  @media (max-width: 767px) {
    display: block;
  }
}

.weakness {
  display: inline-block;
  margin:3px;
  border-radius: 40px;
  padding-right: 5px;
  background-color: #dedede;
}

.resistance {
  display: inline-block;
  margin:3px;
  border-radius: 40px;
  padding-right: 5px;
  background-color: #dedede;
}

video {
  width: 100%    !important;
  height: auto   !important;
}


.bg-dark {
  color: $gray-300;

  hr {
    border-color: $gray-700;
  }

  .well {
    background-color: $gray-900;
    box-shadow: 0 0 5px $gray-900;
    color: $gray-400;
  }

  .navbar, .footer {
    color: $gray-400;
    background-color: $gray-900;
  }

  .dropdown-menu {
    color: $gray-400;
    background-color: $gray-900;
  }

  .dropdown-divider {
    border-color: $gray-700;
  }

  .dropdown-item {
    color: $gray-400;
    &:hover {
      background-color: $gray-700;
    }
  }

  .table td, .table thead th {
    border-color: $gray-700;
  }
  .table-success td {
    background-color: $green;
    color: $gray-200;
  }
  .table-danger td {
    background-color: $red;
  }
  .table-warning td {
    background-color: $yellow;
    color: $gray-800;
  }

  .nav-tabs {
    border-color: $gray-700;
  }

  .nav-tabs .nav-link:hover {
    border-color: $gray-700;
  }

  .nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    color: $gray-300;
    background-color: $gray-800;
    border-color: $gray-800;
  }

  input, select, input:active, input:focus, select:active {
    border-color: $gray-700;
    background-color: $gray-800;
    color: $gray-300;
  }

}

.bg-darker {
  color: $gray-400;
  background-color: $gray-900;
}
