{% extends "base.html" %}
{% load staticfiles pokemon_tags %}

{% block title %}{{ article.title }}{% endblock %}

{% block content %}
<a href="{% url 'wiki-index' %}">< Back to the Wiki</a>

<h1>{{ article.title }}{% if perms.wiki.editor %}<a href="{% url 'wiki-article-edit' article.id %}" class="btn btn-primary" style="float:right;">Edit Article</a>{% endif %}</h1>
<h4><a href="{{ article.topic.url }}">{{ article.topic }}</a></h4>

{% with article.author as editor %}
<p style="margin-bottom:3px;" class="font-italic">Created by {% if editor.trainer %}{{ editor.trainer.name }}{% else %}{{ editor }}{% endif %} on {{ article.latest_edit.created_at|date }}</p>
{% endwith %}

{% with article.latest_edit.editor as editor %}
<p  class="font-italic">Last updated by {% if editor.trainer %}{{ editor.trainer.name }}{% else %}{{ editor }}{% endif %} on {{ article.latest_edit.created_at|date }} at {{ article.latest_edit.created_at|time }}</p>
{% endwith %}

{% for tag in article.tags.all %}<span class="badge {{tag.name.lower}}" style="padding-right:7px;"><a href="{% url 'wiki-tag' slug=tag.slug %}">{{ tag.name }}</a></span> {% endfor %}
<hr/>

<div class="row">
  {% if article.pokemon %}
  <div class="col-md-3">
    {% with article.pokemon as p %}
    <div class="well">
      <div class="text-center">
        <div>
          <img src="{{ p.image }}"/>
          <table class="table table-condensed" style="margin-top:10px;">
            <thead>
              <tr>
                <th>Att</th>
                <th>Def</th>
                <th>Sta</th>
                <th>Max CP</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{ p.base_attack }}</td>
                <td>{{ p.base_defense }}</td>
                <td>{{ p.base_stamina }}</td>
                <td>{{ p.max_cp }}</td>
              </tr>
            </tbody>
          </table>
          <p style="margin-bottom:0"><a href="{% url 'pvp-iv' %}?pokemon={{p.name }}">Optimal IV</a></p>
        </div>
        <hr/>
        <div>
          <h5>Typing</h5>
          <span class="badge {{p.primary_type.name.lower}}" style="padding-right:7px;"><a href="{% url 'wiki-tag' slug=p.primary_type.name.lower %}">{{ p.primary_type.name.title }}</a></span>
          {% if p.secondary_type %}
          <span class="badge {{p.secondary_type.name.lower}}" style="padding-right:7px;"><a href="{% url 'wiki-tag' slug=p.secondary_type.name.lower %}">{{ p.secondary_type.name.title }}</a></span>
          {% endif %}
        </div>
        <hr/>
        <div>
          <h5 class="text-danger">Weaknesses</h5>
          {% for type, pct in p.weaknesses %}
          <span class="badge {{ type.name|lower }}">{{ type.name.title }} <span class="badge-count">{{ pct | percentage }}</span></span>
          {% endfor %}
        </div>
        <hr/>
        <div>
          <h5 class="text-success">Resistances</h5>
          {% for type, pct in p.resistances %}
          <span class="badge {{ type.name|lower }}">{{ type.name.title }} <span class="badge-count">{{ pct | percentage }}</span></span>
          {% endfor %}
        </div>
      </div>
    </div>
    {% endwith %}
  </div>
  {% endif %}
  <div class="col-md-{% if article.pokemon %}9{% else %}12{% endif %}">
    <div class="well">
      {{ article.rendered_content|safe }}
    </div>
  </div>
</div>
{% endblock %}
